.filter-container{
    width: auto;
    display: flex;
    flex-direction: row;

    .filter{
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       

        mat-form-field{
            margin-right: 8px;
        }
    }
}