<div class="header-conatiner">
    <div class="image"></div>
    <div class="links">
        <ul>
            @if (isHome) {
                <li><a routerLink="">Home</a></li>
            }
            @if (!isHome) {
            <li><a routerLink="/produtos">Produtos</a></li>
            }
            @if (isHome) {
             <li>
                <button class="btn-cart" (click)="open()"><i class="fas fa-cart-plus"></i></button>
             </li>
            }
            @if (isHome) {
            <li>
                <button class="opcoes" mat-button [matMenuTriggerFor]="menu"><i class="far fa-user"></i></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="goToAddProdutos()">Adicionar produto</button>
                    <button mat-menu-item (click)="goToAdmPage()">Espaço Adm</button>
                </mat-menu>
            </li>
            }
        </ul>

    </div>
</div>