<div class="header-conatiner">
    <div class="image"></div>
    <div class="links">
        <ul>
            @if (isHome) {
            <li><a routerLink="">Home</a></li>
            }
            @if (!isHome) {
            <li class="style-prod"><a routerLink="/produtos">Produtos</a></li>
            }
            @if (isHome) {
            <li>
                <button class="btn-cart" (click)="open()"><i class="fas fa-cart-plus"></i></button>
            </li>
            }
            @if (isHome && adm) {
            <li>
                <app-nav-options [isADM]="adm"></app-nav-options>
            </li>
            }
        </ul>

    </div>
</div>