.header-conatiner{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .image{
        width: 25%;
        height: 100%;
        background-image: url("../../../../assets/logo-zapshop.png");
        background-position: center;
        background-size: cover;
    }

    .links{
        display: flex;
        align-items: center;
        padding-right: 40px;
        width: 400px;

        ul{
            width: 100%;
            padding: 0 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            list-style: none;

            li > a{
                font-size: 1.3em;
                color: #107242;
                text-decoration: none;
                transition: all .5s ease;

                &:hover{
                    height: 20px;
                    background-color: #F0FFF8;
                    border-radius: 25px;
                    padding: 10px;
                }
            }

            .btn-cart{
                cursor: pointer;
                transition: transform .5s ease-in;
                border: none;
                background: transparent;

                color: #094D2C;

                i{
                    font-size: 1.3em;
                }

                &:hover{
                    transform: scale(1.1);
                }
            }

            li > .opcoes{
                i{
                    color: #094D2C;
                    font-size: 1.3em;
                    
                }
            }
        }
    }
}