button {
    background: #fff;
    border: 1px solid #D9A3AC;
    color: #CF8C95;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px 10px;

    margin-bottom: 10px;
    transition: all .4s ease-in;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}