.adm-container {
    width: 100%;

    .info-contant {
        margin-top: 2%;

        div {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: end;

            p,
            a,
            button {
                margin: 0 30px 0 0;
                font-size: 1.2em;
            }

            a {
                text-decoration: none;
                background: #fff;
                border: 1px solid #D9A3AC;
                color: #CF8C95;
                padding: 3px;
                text-align: center;
                transition: all .4s ease-out;

                &:hover {
                    background-color: #ECECEC;
                }
            }

            button {
                background: #fff;
                border: 1px solid #D9A3AC;
                color: #CF8C95;
                font-weight: bold;
                border-radius: 5px;
                padding: 8px 10px;

                margin-bottom: 10px;
                transition: all .4s ease-in;
            }

            button:hover {
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .info-contant {
        div {
            p {
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .info-contant {
        div {
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-around !important;

            p,
            a,
            button {
                width: 40%;
            }

            p {
                margin-bottom: 6px !important;
            }
        }
    }
}