.adm-container {
    width: 100%;

    .info-contant {
        margin-top: 2%;

        div {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: end;

            p,
            a,
            i {
                margin: 0 30px 0 0;
                font-size: 1.3em;
            }

            a {
                text-decoration: none;
                color: #d16a78;

            }

        }
    }
}

@media (min-width: 375px) and (max-width: 430px) {
    .adm-container {
        .info-contant {
            display: flex;
            justify-content: end;

            div {
                margin: 0;
                width: 45%;
                align-items: center;
                justify-content: space-around;

                p,
                a {
                    margin: 0;
                }

                i{
                    margin: 0;
                }
            }
        }
    }
}

@media (min-width: 360px) and (max-width: 360px){
    .adm-container {
        .info-contant{
            div{

                a{
                    margin: 0;
                }
            }
        }
    }
}