<div class="table-container">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th>Marca</th>
                <th class="none">Categoria</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (produto of produtosArray; track produto.id) {
            <tr>
                <td>{{ produto.nome_produto }}</td>
                <td>{{ produto.produto_preco | currency : 'BRL' }}</td>
                <td>{{ nomeMarca }}</td>
                <td class="none">{{ produto.categorias }}</td>
                <td class="btn-options">
                    <span>
                        <button (click)="onDelete(produto.id!)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </span>

                    <span>
                        <button (click)="onEdit(produto)">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </span>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>