<div class="card-product">
    <div class="card-image">
        <img src={{productImage}} alt="" width="300px">
    </div>

    <div class="card-info-product">
        <h2>{{ productName }}</h2>
        <p>{{ productDescription }}</p>
        <div class="etiquetas">
            <span>{{ productMarca }}</span>
            <span>{{ productCategory }}</span>
        </div>
        <p class="price">{{ productPrice | currency : 'BRL' }}</p>
    </div>

    <app-button-add-to-bag [productCart]="product"></app-button-add-to-bag>
</div>
