.card-product {
    min-height: 450px;
    max-width: 300px;
    height: 400px;
    width: 100%;

    border-radius: 5px;
    border: 1px solid rgba(18, 54, 21, 1);
    box-shadow: -1px -8px 40px -30px rgba(18, 54, 21, 1);

    display: flex;
    flex-direction: column;
    align-items: center;

    .card-image {
        display: flex;
        justify-content: center;
        height: 60%;
        width: 100%;
        
        img{
            max-width: 300px;
            max-height: 300px;
            border-radius: 5px 5px 0 0;
        }
    }

    .card-info-product {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            margin: 0;
            text-transform: uppercase;
        }

        p{
            max-width: 300px;
        }

        .price{
            margin-top: 10px;
        }

        padding: 0 8px;

        .etiquetas {
            color: #094D2C;
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            span {
                border: 1px solid #094D2C;
                border-radius: 25px;
                padding: 3px 5px;
                transition: background-color .3s ease-out;
            }

            span:hover {
                background-color: #F0FFF8;
            }
        }
    }
}