.card-product {
    min-height: 450px;
    max-width: 300px;
    height: 400px;
    width: 100%;

    border-radius: 5px;
    border: 1px solid #5a5e61a5;
    box-shadow: #CF8C95 0px 2px 2px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .card-image {
        display: flex;
        justify-content: center;
        height: 60%;
        width: 100%;
        
        img{
            max-width: 300px;
            max-height: 300px;
            border-radius: 5px 5px 0 0;
        }
    }

    .card-info-product {
        width: 100%;
        padding-left: 15px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: start;

        h2 {
            color: #5A5E61;
            margin: 0;
            margin-top: 8px;
            text-transform: uppercase;
        }

        p{
            max-width: 300px;
        }

        .price{
            margin-top: 10px;
            font-size: 1.1em;
            font-weight: 500;
        }

        .etiquetas {
            color: #094D2C;
            width: 100%;

            span {
                border-bottom: 1px solid #094D2C;
                margin: 0 2px;
                padding: 3px 5px;
            }

        }
    }
}