<div class="container-produtos">
    <app-header></app-header>

    <div class="content">
        <h1>Nossos Produtos</h1>
        @if (produtos.length != 0) {
        <div class="cards">
            @for (produto of produtos; track produto.product_id) {
            <app-card-produto class="card-content" [productId]="produto.product_id" [productName]="produto.product_name"
                [productDescription]="produto.product_description" [productPrice]="produto.product_price"
                [productMarca]="produto.product_marca" [productCategory]="produto.product_categoria">
            </app-card-produto>
            }
        </div>
        }@else {
         <p>Não há produtos cadastrados</p>
        }
    </div>

    <app-footer></app-footer>
</div>