<div class="container-produtos">
    <app-header></app-header>

    <div class="content">
        <div class="welcome">
            <h1>Bem-vindo(a) ao nosso catálogo de cosméticos!</h1>
            <p>Aqui, você encontrará produtos selecionados para realçar a sua beleza e cuidar da sua pele com carinho. Explore
                nossas
                opções e descubra como nossos cosméticos podem fazer a diferença na sua rotina de cuidados. Aproveite as ofertas
                exclusivas e permita-se brilhar ainda mais!</p>
        </div>

        <div class="filtros">
            <app-filtros></app-filtros>
        </div>

        @if (produtos().length != 0) {
        <div class="cards">
            @for (produto of produtos(); track produto) {
            <app-card-produto class="card-content" 
                [productId]="produto.product_id" 
                [productName]="produto.product_name"
                [productImage]="produto.product_image"
                [productDescription]="produto.product_description" 
                [productPrice]="produto.product_price"
                [productMarca]="produto.product_marca" 
                [productCategory]="produto.product_categoria"
            >
            </app-card-produto>
            }
        </div>
        }@else {
         <p>Não há produtos cadastrados</p>
        }
    </div>

    <app-footer></app-footer>
</div>