.marcas-container {
    width: 100%;

    .content {
        width: 95%;
        display: flex;
        flex-direction: column;

        .list-content {
            width: 100%;
            display: flex;
            justify-content: end;

            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;

                list-style: none;
                width: 180px;

                .text {
                    font-size: 1.2em;
                    color: #b0767e;
                }

                li>button {

                    background: #fff;
                    border: 1px solid #D9A3AC;
                    color: #CF8C95;
                    font-weight: bold;
                    border-radius: 5px;
                    padding: 8px 10px;

                    transition: all .4s ease-in;


                    &:hover {
                        cursor: pointer;
                        background: #fae0e3;
                    }
                }
            }

        }
    }

    .table-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        color: #5A5E61;

        h2 {
            margin-top: 60px;
        }
    }

    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        min-width: 400px;
        width: 90%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        background-color: #fff;
    }

    .styled-table thead tr {
        background-color: #CF97A0;
        color: #ECECEC;
        text-align: left;
        letter-spacing: 2px;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
        border: 1px solid #dddddd;
    }

    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .styled-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #CF97A0;
    }

    .btn-options {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        button {
            border: none;
            background: none;
            font-size: 1.3em;

            &:hover {
                cursor: pointer;
                transform: scale(1.2);
            }
        }
    }
}

@media (min-width: 375px) and (max-width: 430px) {

    .marcas-container {
        .content {
            width: 100%;
            align-items: center;

            .list-content {
                width: 100%;
                align-items: end;

                ul {
                    width: 40%;
                    padding: 0;
                    justify-content: space-around;

                    li {
                        button {
                            margin: 0;
                        }
                    }
                }
            }
        }

        .styled-table {
            margin: 0;
            min-width: 380px;
        }

        .table-container {
            align-items: stretch;
        }

    }

    //limita exibição das categorias
    .hidden {
        max-width: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

// melhora a responsividade para dispositivos Samsung Galaxy S8
@media (min-width: 360px) and (max-width: 360px) {
    .marcas-container {
        .content {
            margin-left: 4px;
            width: 100%;

            .list-content {
                width: 100%;
                align-items: end;

                ul {
                    width: 40%;
                    padding: 0;
                    justify-content: space-around;

                    li {
                        button {
                            margin: 0;
                        }
                    }
                }
            }
        }

        .styled-table {
            margin: 0;
            min-width: 350px;
        }

        .table-container {
            align-items: stretch;
        }

    }

    //limita exibição das categorias
    .hidden {
        max-width: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

}