.create-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;

        .btn-back {
            margin-left: 60px;
        }

        h1 {
            margin: 0 auto;
        }
    }
}

@media (min-width: 375px) and (max-width: 430px) {
    .create-container {
        div {
            .btn-back {
                margin-left: 12px;
            }

            h1 {
                font-size: 1.5em;
            }
        }

        app-form-add-produto {
            margin-top: 20px;
        }
    }
}

@media (min-width: 360px) and (max-width: 360px) {
    .create-container {
        div {
            .btn-back {
                margin-left: 12px;
            }

            h1 {
                font-size: 1.5em;
            }
        }

        app-form-add-produto {
            margin-top: 15px;
        }
    }
}