.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 100%;
    height: auto;
}

.grid-item {
    aspect-ratio: 1 / 1; /* mantem a proporção 1:1 (quadrado) */
    border-radius: 10px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.grid-item:hover::after {
    content: attr(nome-marca);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(236, 236, 236, 0.8);
    color: #5A5E61;
    padding: 5px 0;
}

@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        /* 3 colunas para telas menores */
    }
}

@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        /* 2 colunas para telas ainda menores */
    }
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
        /* 1 coluna para telas muito pequenas */
    }
}