<app-header></app-header>

<div class="container flex">
</div>

<app-faixa-animada></app-faixa-animada>

<div class="conheca">
    <h1>Descubra a Essência do Autocuidado</h1>

    <p>
        Adquira produtos das melhores marcas do mercado nacional e inspire-se com fragrâncias 
        que combinam com sua essência. Encontre o perfume perfeito para presentear quem você ama e 
        surpreenda com um gesto de carinho e sofisticação. Nossas fragrâncias transformam momentos comuns 
        em experiências inesquecíveis. Cuide de si mesmo e dos outros com aromas 
        que celebram a singularidade e a beleza de cada pessoa.
    </p>
</div>

<div class="marcas">
    <h2>Conheça nossas marcas</h2>
    <app-card-marca></app-card-marca>
</div>

<footer>
    <app-footer></app-footer>
</footer>

<app-card-produto 
    [productName]="productName"
    [productPrice]="productPrice"
    [productDescription]="productDescription"
    [productMarca]="productMarca"
    [productCategory]="productCategory"
></app-card-produto>

<router-outlet />
