.footer-container {
    margin-top: 5%;
    height: 60px;
    border-top: 1px solid #094d2c13;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    a {
        margin: 0 8px;
        text-decoration: none;

        i {
            color: #094D2C;
            font-size: 1.3em;
        }
    }

    i:hover {
        transform: scale(1.1);
    }
}