body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    width: 100%;
    height: 550px;
    background-image: url(../../../assets/back-2.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-categories {
    margin: 0;
    height: 90px;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.full-width {
    flex: 1;
    width: 100%;
    height: 100%;
}

.conheca {
    height: 250px;
    color: #5A5E61;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        font-size: 1.15em;
        margin: 0 auto;
        width: 90%;
    }
}

.marcas {
    padding: 0 2%;

    h2 {
        font-weight: 400;
        text-align: center;
        font-size: 2em;
        margin-bottom: 20px;
    }
}