<h1 mat-dialog-title>Bem-vindo ao carrinho de compras!</h1>
@if (produtosCarrinho.length != 0) {
<mat-dialog-content class="mat-typography">
  <ul>
    @for (produto of produtosCarrinho; track produto.product_id) {
    <li>
      <h2>{{ produto.product_name }}</h2>
      <p>{{ produto.product_description }}</p>
      <p>R${{ produto.product_price }}</p>
      <label>Quantidade
        <input type="text" [(ngModel)]="produto.qtd_product">
      </label>
    </li>
    }
  </ul>

  <mat-form-field>
    <mat-label>Formas de pagamento</mat-label>
    <mat-select [(value)]="pay" required="true">
      @for (pagamento of pagamentos; track pagamento) {
      <mat-option value="{{pagamento}}">{{pagamento}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  @if (pay == 'Cartão') {
  <mat-form-field>
    <mat-label>Parcelas</mat-label>
    <mat-select [(value)]="parcela">
      @for (parcela of parcelas; track parcela) {
      <mat-option value="{{parcela}}">{{parcela}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  }

  <span>Forma de pagamento: {{pay}}</span>
  @if (pay == 'Cartão') {
  <span>Qtd de parcelas: {{parcela}}</span>
  <span>Valor de cada parcela {{ calcularParcelas()| currency : 'BRL'}}</span>
  }
  <span>Total {{ calcularCarrinho()| currency : 'BRL'}}</span>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial (click)="finalizarPedido()">Finalizar
    pedido</button>
</mat-dialog-actions>
}@else {
 <p style="text-align: center;">Não há podutos no carrinho</p>
}