a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: transparent;
    border-radius: 2px;
    width: 30px;

    padding: 2px;

    i {
        font-size: 1.4em;
        color: #d16a78;

        &:hover {
            color: #ce848b;
        }
    }
}